/*content*/
.sy_contentbox{width:100%;border:1px solid #ddd;margin:10px 0}
.left_cont{width:75%;float: left;}
.right_cont{width:24%;float:right;text-align: left;margin-left: 10px;margin-bottom:20px;}
.business_type_bar{background: url("../images/busbar.png") repeat-x;height:42px;width:100%;line-height:42px}
.business_type_bar ul li{float: left;padding:0 14.3px;color:#fff;font-size: 16px;border-right:1px solid #B20707;cursor:pointer;}
.business_type_bar .active{background:#AD0000}
.tabbedtable{width:100%;border-collapse: collapse;}
.tabbedtable td a{text-decoration: underline}
.tabbedtable th{background: #F0F0F0;border-bottom:1px solid #d9d9d9;height:35px;line-height: 35px;font-size: 14px;text-align: left}
.tabbedtable td{border-bottom:1px dotted #d9d9d9;height:35px;line-height: 45px;text-align: left}
.tabbedtable td img{vertical-align: middle}
.tabbedtable th:nth-child(2){padding-left:28px}
.tabbedtable .center{text-align: center}
.view_more{height:40px;line-height:40px;width: 100%;background: #E6E6E6;display: block;border-radius:5px;margin:30px 0 0}
.right_cont .title{height:35px;line-height: 35px;background: #F7F7F7 ;box-sizing: border-box;}
.right_cont .title b{;height:36px;line-height:36px;width:86px;text-align: center;display: inline-block;padding-left: 13px;background:#F0F0F0 url("../images/notice.png") no-repeat 6% center;color:#BF1A20}
.right_cont ul {padding-left:7px}
.right_cont ul li .red{background: #f60;}
.right_cont ul li .blue{background: #00AAFF;}
.right_cont ul li .green{background: #00B700;}
.right_cont li{box-sizing: border-box;margin-bottom:15px;}
.right_cont ul li i{width:20px;display: inline-block;text-align: center;font-style: normal;background: #888;color:#fff;}
.right_cont ul li a{padding-left:10px}

