.notice_con{border:1px solid #b8b8b8;width: 100%;box-sizing: border-box; margin-bottom: 20px;}
.notice_con h2{text-align: center;padding:35px 0;}
.txt_box{padding:35px;border-top:1px solid #D6D6D6;text-align: left}
.txt_box p{text-indent: 30px;line-height: 25px;margin-bottom: 10px;}
