// 首页
extends ../layout/site_layout

block site_view
  link(rel='stylesheet', href='/stylesheets/index.css')
  .business_type_bar.clearfix
    ul#business_type_bar
  .sy_contentbox.clearfix
    .left_cont
      table(cellpadding="0",cellspacing="0",border="0").tabbedtable#extension_user_list
        tr
          th(width="110").center 头像
          th(width="") 昵称
          th 广告词
          th 业务信息
          th

      a(href="javascript:void(0)").view_more.center 查看更多
    .right_cont
      ul#notice
        li.title
          b 网站公告
  script(type="text/javascript",src=base_path+"/javascripts/business/index.js")

