extends user_center_layout
block form
    h3.user_center_form_title 基本信息
    form#reset_pwd_form
        input(type="hidden",name="_id",value=session.userInfo._id)
        ul
            li
                span
                    em.bitian *
                    | 登录名称：
                input(name="login_name",placeholder="电子邮箱/QQ号码/手机号码",value=session.userInfo.login_name)
            li
                span
                    em.bitian *
                    | 昵称
                input(value=session.userInfo.nickname,name="nickname")
            li
                span &nbsp;
                a(href="javascript:void(0)")#submit.btn 保存
    script(type="text/javascript",src=base_path+"/javascripts/business/user_center_base_info.js")