// 首页
extends ../layout/site_layout
block site_view
    link(rel='stylesheet', href='/stylesheets/extension_apply.css')
    link(rel='stylesheet', href='/stylesheets/notice.css')
    .wrapper.navbar-fixed-top
        .navbar-text
            | 位置：帮助
    .notice_con
        .txt_box=site.help

