- var base_path = "http://localhost:3000";
doctype html
html
   head
      meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
      link(rel="stylesheet",type="text/css",href="/stylesheets/admin/main/global.css")
      link(rel="stylesheet",type="text/css",href="/stylesheets/admin/main/frame.css")
      script
         | var base_path = '#{base_path}';
      script(type="text/javascript",charset="utf-8",src="#{base_path}/bower_components/requirejs/require.js")
      script(type="text/javascript",charset="utf-8",src="#{base_path}/javascripts/app.js")
      script(type="text/javascript",charset="utf-8",src="/javascripts/business/admin/main/main.js")
      title=config.project.name
   body
      .c_main
         .c_header
            .c_logo.left
            .c_nav.left
               ul#head_menu_bar
         .c_container
            .c_leftmune.left
               .c_user
                  img(src="/images/admin/user.png").left
                  span.c_fontsize 王先生
                  .c_text
                     span
                        a(href="javascript:void(0)") 个人中心 |
                        a(href="javascript:void(0)") 注  销
               .c_menumain
                  ul
                     li.level1.c_active
                        .c_munebg
                           i: img(src="/images/admin/wenben.png")
                           span 网站管理
                        ul.c_submune
                           li(data-href="/admin/business_type.html").level2: a(href="javascript:void(0)") 业务类型
                           li(data-href="/admin/feedback.html").level2: a(href="javascript:void(0)") 建议反馈
                           li(data-href="/admin/notice.html").level2: a(href="javascript:void(0)") 网站公告
                           li(data-href="/admin/site/about.html").level2: a(href="javascript:void(0)") 关于我们
                           li(data-href="/admin/site/help.html").level2: a(href="javascript:void(0)") 帮助
                           li(data-href="/admin/site/use_method.html").level2: a(href="javascript:void(0)") 使用方法
                           li(data-href="/admin/site/cooperation.html").level2: a(href="javascript:void(0)") 参股合作
                     li.level1
                        .c_munebg
                           i: img(src="/images/admin/wenben.png")
                           span 用户管理
                        ul.c_submune
                           li(data-href="/admin/user.html").level2: a(href="javascript:void(0)") 用户信息
                           li(data-href="/admin/extension_apply.html").level2: a(href="javascript:void(0)") 推广申请
                     li.level1
                        .c_munebg
                           i: img(src="/images/admin/wenben.png")
                           span 系统日志
                        ul.c_submune
                           li(data-href="/admin/extension_apply_history.html").level2: a(href="javascript:void(0)") 推广日志
                     li.level1
                        .c_munebg
                           i: img(src="/images/admin/wenben.png")
                           span 系统配置
                        ul.c_submune
                           li(data-href="/admin/account.html").level2: a(href="javascript:void(0)") 账户管理

            .c_content.left
            .clear



